@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-midnight: #161616;
}

@plugin "@tailwindcss/typography";

@font-face {
  font-family: Atkinson;
  font-style: normal;
  font-weight: 300 700;
  src: url("../../assets/fonts/AtkinsonRegular.woff2") format("woff2"),
  url("../../assets/fonts/AtkinsonBold.woff2") format("woff2")
}

html{
  scroll-behavior: smooth;
}