---
import BlogLayout from "../layouts/BlogLayout.astro";
const posts = await Astro.glob("../pages/post/**/*.mdx");
---

<BlogLayout description="Lista de publicaciones">
  <section class="mt-14">
    <ul class="flex flex-col gap-8">
      {
        posts.map((post) => (
          <li>
            <a class="group" href={"/post/" + post.frontmatter.slug}>
              <h3 class="text-lg text-black dark:text-slate-100 font-semibold group-hover:underline">
                {post.frontmatter.title}
              </h3>
              <h4 class="text-gray-400 text-sm">{post.frontmatter.pubDate}</h4>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</BlogLayout>
