---
const today = new Date();
---

<footer
  class="w-full flex flex-col items-center justify-center py-2 bg-slate-50 dark:bg-midnight dark:text-white"
>
  <p>
    &copy; {today.getFullYear()} TMCheiN. All rights reserved.
  </p>
  <svg
    width="48"
    height="48"
    viewBox="0 0 100 100"
    fill="none"
    class="fill-black dark:fill-white"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path d="M41 73L57 33.5H73L91 15H27L9 33.5H34L13.5 84.5L41 73Z"></path>
    <path
      d="M52 80.5L59 77.5L61 73.5L64 78.5L71 73.5L68 80.5L75 77.5L81 63H76L67 70L63.5 63H59L52 80.5Z"
    ></path>
  </svg>
</footer>
