---
import "../styles/global.css";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";


interface Props {
  description: string;
}

const { description } = Astro.props;
---

<html lang="es">
  <head>
    <BaseHead title="El Blog de TMCheiN" description={description} />
  </head>
  <body class="font-[Atkinson] bg-white dark:bg-[var(--color-midnight)] px-4 lg:px-0">
      <Header />
      <main class="max-w-sm lg:max-w-6xl w-full mx-auto">
        <slot />
      </main>
  </body>
</html>
