---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";

interface Props {
  description: string;
}

const { description } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <BaseHead title="El Blog de TMCheiN" description={description} />
  <body class="bg-white dark:bg-midnight px-4 lg:px-0">
    <div>
      <Header />
      <main class="max-w-sm w-full mx-auto">
        <slot />
      </main>
    </div>
  </body>
</html>
